#axure{
  padding:70px 0 40px;
  background-image:url(/img/bg_axure.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
#axure::after{
  content: '';
  background: rgba(0, 0, 0, 0.55); 
  width: 100%; 
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
}
.dow{
  width: 135px;
  margin: auto;
  border: 1px solid #ffffff;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
  transition: 0.5s;
}
.dow:hover{
  box-shadow: 5px 10px 40px 1px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255, 0.2);
}
.dow a{
  font-size: 15px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
