#contact{
  padding:80px 0 44px;
}
.contact__wrap {
  margin: 0 -15px;
}
.contact__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form_left {
  display: flex;
  flex-direction: column;  
  margin: 0 15px;
}
.form_left input{
  outline: none;
  border: 0;
  border-bottom: 1px solid #BDBDBD;
  width: 478px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.form_right{
  margin: 0 15px;
}
.form_right input{
  outline: none;
  border: 0;
  border-bottom: 1px solid #BDBDBD;
  width: 478px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.contact__items{
  margin-bottom: 69px;
}
.send {
  line-height: 42px;
  width: 166px;
  border: 0;
  background-color:#EC7979;
  color: #ffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.send:hover{
  background-color: rgba(236, 121, 121, 0.8);
  box-shadow: 0 2px 10px rgba(48, 47, 47, 0.3);
  transform: scale(1.1) translate(5px, 5px);
}
.contact__items label{
  line-height:57px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
}
textarea{
  width: 478px;
  height: 173px;
  border: 0;
  border-bottom: 1px solid #BDBDBD;
  outline: none;
  display: block;
}