@import url(../css/card.css);
@import url(../css/pricing.css);
@import url(../css/customers.css);
@import url(../css/axure.css);
@import url(../css/header.css);
@import url(../css/media.css);
@import url(../css/footer.css);
@import url(../css/main.css);
@import url(../css/contact.css);
@import url(../css/tabs.css);
@import url(../css/adapt.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
#awesome{
  padding: 80px 0 116px;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  z-index: 2;
  position: relative;
  }
.heading {
  max-width: 700px;
  margin: auto;
  text-align: center;
  margin-bottom: 68px;
}
.title {
  font-size: 36px;
  color: #212121;
  margin:0 auto 34px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
 }
.title::after{
  content:'';
  display:block;
  width: 64px;
  height: 2px;
  background-color: #E72424;
  margin: 34px auto 0;
}
.subtitle {
  font-size: 14px;
  color: #86878B;
  margin:0 auto 68px;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.title__two{
  font-size: 36px;
  color: #FFFFFF;
  margin:0 auto 34px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
 }
 
.subtitle__two {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin:auto;
  text-transform: none;
  font-family: 'Releway', sans-serif;
  font-weight: 400;
}
.title__two::after {
  content:'';
  display:block;
  width: 64px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 34px auto;
}
